<div class="container__big-card">

    <div class="big-card__photo">
        <img src="https://wallpapercave.com/wp/wp3066716.jpg" 
        alt="" height="200px">
    </div>

    <div class="big-card__title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="">
                bla bla bla bla bla inter vai tomar no cu
                drake é horrivel ngm merece ouvir essa merda
            </a>
        </p>
    </div>

</div>